{% extends "server/base.html" %}

{% load static %}

{% block content %}

  <div class="wrapper">
    <form action="/accounts/login/" class="form-signin" method="post">
      {% csrf_token %}
      <center><img src='{% static 'server/raspiwhite.png' %}'/></center>
      <input type="text" class="form-control" id="username" name="username" placeholder="Username" required="" autofocus="" />
      <input type="password" class="form-control" id="password" name="password" placeholder="Password" required=""/>
      <input type="hidden" name="next" id="next" value="{{next}}" />

      <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>

      <a href="{% url 'social:begin' 'facebook' %}"><div class="btn btn-lg btn-primary btn-block">Login with Facebook</div></a>
      <center>or</center>
      <a href="/accounts/register"><div class="btn btn-lg btn-primary btn-block">Register a new user</div></a>
    </form>
  </div>

  <script type="text/javascript">
    app.controller('RaspiwhiteCtrl', function ($scope) {
      $scope.title = 'Raspiwhite';
    });
  </script>

{% endblock %}