{% extends "server/base.html" %}

{% load static %}

{% block content %}

  <h1>Playlist</h1>

  <div class="ui-widget">
  <div class="ui-widget">
    <div id="songlist" class="list-group"></div>
    {% verbatim %}
    <div class='list-group-item' ng-repeat="song in songs" id='{{ song.id }}'>
      <h4 class='list-group-item-heading'>{{ song.artist }}</h4>
      <p class='list-group-item-text'>{{ song.title }}</p>
    </div>
    {% endverbatim %}
  </div>
  </div>

  <a href="/request">Add song</a>

  <script type="text/javascript">

    var app = angular.module( "Raspiwhite", [] );
    app.config(['$httpProvider', function($httpProvider) {
        $httpProvider.defaults.headers.common['X-CSRFToken'] = '{{ csrf_token|escapejs }}';
        $httpProvider.defaults.headers.post['Content-Type'] = 'application/x-www-form-urlencoded;charset=utf-8';
    }]);
    app.controller('RaspiwhiteCtrl', function ($scope, $http) {

      function load_playlist() {
        $http.get("/playlist/current").success(function(data) {
          console.log(data);
          $scope.songs = data;
        });
      }

      var source = new EventSource("/sse/foo");

      source.addEventListener('newsong', function(e) {
        console.log(e.data);
        load_playlist();
      }, false);

      load_playlist();

    });

  </script>

{% endblock %}