{% extends "server/base.html" %}

{% load static %}

{% block content %}

  <h1>Playlist</h1>

  <div class="ui-widget">
    <div id="songlist" class="list-group"></div>
  </div>

  <a href="/request">Add song</a>

  <script type="text/javascript">

    $( document ).ready(function() {
      setInterval(function(){
        load_playlist();
      }, 3000);
    });

    function renderSongInDiv(id, artist, title) {
      var header = "<h4 class='list-group-item-heading'>" + artist + "</h4>";
      var body = "<p class='list-group-item-text'>" + title + "</p>";
      var div = "<a href='#' class='list-group-item' id='" + id + "'>" + header + body + "</div>";
      return div;
    }

    function load_playlist() {
      $.get("/playlist/current", function(data,status){
        $( "#songlist" ).empty();
        for(var i = 0 ; i < data.length ; i++) {
          $("#songlist").append(renderSongInDiv(data[i]['id'],data[i]['artist'],
            data[i]['title']));
        }
      });
    }
  </script>

{% endblock %}