{% extends "server/base.html" %}

{% load static %}

{% block content %}
<div ng-controller="RequestController">
  <div class="container-fluid">
    <input class="form-control" placeholder="❤ ♬ Search the song you want to play ♬ ❤" id="songinput" ng-model="query" ng-change="search()">
    {% verbatim %}

    <div id="songlist" class="list-group"></div>
    <div class='list-group-item listelement clickable' ng-repeat="song in songs"
        ng-click="sendrequest(song)" data-song-id='{{ song.id }}'>
      <div class='listelementleft'>
        <h4 class='list-group-item-heading'>{{ song.artist }}</h4>
        <p class='list-group-item-text'>{{ song.title }}</p>
      </div>
    {% endverbatim %}
      <div class='listelementright'>
        <img style="height:40px;" src="{% static 'server/images/loading.gif' %}" ng-show="song.is_loading"/>
        <div style="height:40px;" ng-hide="song.is_loading"></div>
      </div>
      <br style="clear: both"/>
    </div>
  </div>
  {% verbatim %}
  <center>
    <nav ng-show="!isSinglePage()">
      <ul class="pagination">
        <li ng-class="firstPage() ? 'disabled' : ''">
          <a href='/request/?query={{query}}&page={{pages[current_page].number - 1}}'>
            <span aria-hidden="true">&laquo;</span>
            <span class="sr-only">Previous</span>
          </a>
        </li>
        <li ng-repeat='page in pages' ng-class="page.active ? 'active' : ''">
          <a ng-href="/request/?query={{query}}&page={{page.number}}">{{ page.number }}</a>
        </li>
        <li ng-class="lastPage() ? 'disabled' : ''">
          <a href='/request/?query={{query}}&page={{pages[current_page].number + 1}}'>
            <span aria-hidden="true">&raquo;</span>
            <span class="sr-only">Next</span>
          </a>
        </li>
      </ul>
    </nav>
  </center>
  {% endverbatim %}
</div>
{% endblock %}