{% extends "server/base.html" %}

{% load static %}

{% block content %}

  <h1>New request</h1>

  <div class="ui-widget">
    <label for="songs">Songs: </label>
    <input id="songs">
    <div id="songlist" class="list-group"></div>
  </div>

  <script type="text/javascript">

    $( document ).ready(function() {
      load_songs();
    });

    var csrftoken = $.cookie('csrftoken');

    function csrfSafeMethod(method) {
      return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    function renderSongInDiv(id, artist, title) {
      var header = "<h4 class='list-group-item-heading'>" + artist + "</h4>";
      var body = "<p class='list-group-item-text'>" + title + "</p>";
      var div = "<a href='#' class='list-group-item' id='" + id + "'>" + header + body + "</div>";
      return div;
    }

    $.ajaxSetup({
      beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
          xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
      }
    });

    function load_songs() {
      $.get("/songs/?term=" + $("#songs").val(),function(data,status){
        $( "#songlist" ).empty();
        for(var i = 0 ; i < data.length ; i++) {
          $("#songlist").append(renderSongInDiv(data[i]['id'],data[i]['artist'],
            data[i]['title']));
          var id = data[i]['id'];
          $("#" + data[i]['id']).click(function() {
            $.post( "/request/", { id_song: id })
              .done(function( data ) {

              });
          });
        }
      });
    }

    $("#songs").on('input',function(e){
      load_songs();
    });
  </script>

{% endblock %}