{% extends "server/base.html" %}

{% load static %}

{% block content %}

  <div class="container-fluid">
    <input class="form-control" placeholder="❤ ♬ Search the song you want to play ♬ ❤" id="songinput" ng-model="query" ng-change="search()">
    {% verbatim %}

    <div id="songlist" class="list-group"></div>
    <div class='list-group-item listelement clickable' ng-repeat="song in songs"
        ng-click="sendrequest(song)" data-song-id='{{ song.id }}'>
      <div class='listelementleft'>
        <h4 class='list-group-item-heading'>{{ song.artist }}</h4>
        <p class='list-group-item-text'>{{ song.title }}</p>
      </div>
    {% endverbatim %}
      <div class='listelementright'>
        <img style="height:40px;" src="{% static 'server/images/loading.gif' %}" ng-show="song.is_loading"/>
        <div style="height:40px;" ng-hide="song.is_loading"></div>
      </div>
      <br style="clear: both"/>
    </div>
  </div>
  {% verbatim %}
  <center>
    <nav ng-show="!isSinglePage()">
      <ul class="pagination">
        <li ng-class="firstPage() ? 'disabled' : ''">
          <a href='/request/?query={{query}}&page={{pages[current_page].number - 1}}'>
            <span aria-hidden="true">&laquo;</span>
            <span class="sr-only">Previous</span>
          </a>
        </li>
        <li ng-repeat='page in pages' ng-class="page.active ? 'active' : ''">
          <a ng-href="/request/?query={{query}}&page={{page.number}}">{{ page.number }}</a>
        </li>
        <li ng-class="lastPage() ? 'disabled' : ''">
          <a href='/request/?query={{query}}&page={{pages[current_page].number + 1}}'>
            <span aria-hidden="true">&raquo;</span>
            <span class="sr-only">Next</span>
          </a>
        </li>
      </ul>
    </nav>
  </center>
  {% endverbatim %}
  <script type="text/javascript">
    app.config(['$httpProvider', function($httpProvider) {
        $httpProvider.defaults.headers.common['X-CSRFToken'] = '{{ csrf_token|escapejs }}';
        $httpProvider.defaults.headers.post['Content-Type'] = 'application/x-www-form-urlencoded;charset=utf-8';
    }]);
      app.config(['$locationProvider', function($locationProvider) {
        $locationProvider.html5Mode(true);

    }]);
    app.controller('RaspiwhiteCtrl', function ($scope, $http, $location) {
        $scope.nav = 'request';
        $scope.title = 'New request';
        $scope.pages = new Array();
        $scope.current_page = 0;
        $scope.query = '';

        $scope.$on('$locationChangeSuccess', function () {
          var parameters = $location.search();
          if (parameters.page)
            $scope.current_page = parameters.page - 1;
          if (parameters.query)
            $scope.query = parameters.query;

          executeSearchWithPage($scope.query, $scope.current_page + 1);
        });

        function process_results(data) {
          $scope.songs = data['results'];
        }

        function executeSearch(term) {
          executeSearchWithPage($scope.query, 1);
        }

        function executeSearchWithPage(term, page) {
          var url = "/songs/?term=" + term;
          if (page) {
            url += "&page=" + page;
          }
          $http.get(url).success(function(data) {
            process_results(data);
            $scope.pages = new Array();
            for (i = 0 ; i < data.total_pages ; i++) {
              $scope.pages.push({'number' : i + 1, 'active' : false});
            }
            $scope.pages[$scope.current_page]['active'] = true;
          });
        }

        executeSearchWithPage($scope.query, $scope.current_page + 1);

        $scope.search = function() {
          executeSearch($scope.query);
        }

        $scope.sendrequest = function(song) {
          $current_song = song;
          $current_song.is_loading = true;
          $http.post("/request/", $.param({ id_song: $current_song.id }))
            .success(function(data) {
              $current_song.is_loading = false;
              toastr.options = {
                "positionClass": "toast-bottom-right",
              };
              toastr.success(data.status);
            })
            .error(function(data) {
              $current_song.is_loading = false;
              toastr.options = {
                "positionClass": "toast-bottom-right",
              };
              if (data.status !== undefined)
                toastr.error(data.status);
            });
        }

        $scope.firstPage = function() {
          return ($scope.current_page == 0);
        }

        $scope.isSinglePage = function() {
          return ($scope.pages.length == 1);
        }

        $scope.lastPage = function() {
          return ($scope.current_page == $scope.pages.length - 1);
        }

    });

  </script>

{% endblock %}