Django==1.8.5
Flask==0.10.1
Jinja2==2.7.2
MarkupSafe==0.18
Pillow==2.8.1
Unidecode==0.04.17
Werkzeug==0.9.4
django-bower==5.0.1
django-filer==0.9.10
django-mptt==0.7.4
django-polymorphic==0.7.1
django-sse==0.4.1
easy-thumbnails==2.2
eyeD3==0.7.8
gevent==1.0.1
greenlet==0.4.2
gunicorn==18.0
itsdangerous==0.23
oauthlib==0.6.3
python-magic==0.4.6
python-openid==2.2.5
python-social-auth==0.2.13
redis==2.10.1
requests==2.2.1
requests-oauthlib==0.4.1
six==1.7.2
sse==1.2
wsgiref==0.1.2
